<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smithkeegan.mydailyskincare"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CalendarActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".diaryEntry.DiaryEntryActivityMain"
                  android:label="Entry"
                  android:parentActivityName=".CalendarActivityMain"
                  >
        </activity>
        <activity android:name=".product.ProductActivityMain"
                  android:label="@string/products"
                  android:parentActivityName=".CalendarActivityMain">

        </activity>
        <activity android:name=".routine.RoutineActivityMain"
                  android:label="Routines"
                    android:parentActivityName=".CalendarActivityMain">

        </activity>
        <activity android:name=".routine.RoutineActivityDetail"
                  android:windowSoftInputMode="adjustPan"
                  android:parentActivityName=".routine.RoutineActivityMain">

        </activity>
        <activity android:name=".product.ProductActivityDetail"
                  android:windowSoftInputMode="adjustPan"
                  android:parentActivityName=".product.ProductActivityMain">

        </activity>
        <activity android:name=".ingredient.IngredientActivityMain"
                  android:label="Ingredients"
                  android:parentActivityName=".CalendarActivityMain">

        </activity>
        <activity android:name=".ingredient.IngredientActivityDetail"
                  android:windowSoftInputMode="adjustPan"
                  android:parentActivityName=".ingredient.IngredientActivityMain">

        </activity>
        <activity android:name=".analytics.AnalyticsActivityMain"
                  android:parentActivityName=".CalendarActivityMain">

        </activity>
        <activity android:name="com.smithkeegan.mydailyskincare.AndroidDatabaseManager"
                  android:theme="@style/Theme.AppCompat.Light"/>

    </application>



</manifest>